PIHOLE_PASSWORD=password
PRIMARY=http://192.168.1.1|password
REPLICAS=http://192.168.1.2|password
# Set per-host: piw.home on 192.168.1.70, pib.home on 192.168.1.75
PIHOLE_HOST=piw.home
# Set per-host: fail2ban-w.home on 192.168.1.70, fail2ban-b.home on 192.168.1.75
FAIL2BAN_HOST=fail2ban-w.home
