services:

  pihole:
    container_name: pihole
    image: pihole/pihole:2025.10.3
    user: "0"
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 67:67/udp
      - 80:80/tcp
      - 443:443/tcp
    environment:
      - TZ=Netherlands/Amsterdam
      - FTLCONF_webserver_api_password=${PIHOLE_PASSWORD}
      - FTLCONF_dns_upstreams=1.1.1.1;1.0.0.1
      - VIRTUAL_PORT=80
    volumes:
      - /home/tim/pihole/etc-pihole/:/etc/pihole/
      - /home/tim/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/
    restart: unless-stopped

  fail2ban:
    image: crazymax/fail2ban:1.1.0
    container_name: fail2ban
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host
    environment:
      - TZ=Netherlands/Amsterdam
    volumes:
      - /home/tim/fail2ban/config:/data
      - /var/log:/var/log:ro
    restart: unless-stopped

  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:v0.11.1
    container_name: nebula-sync
    environment:
      - PRIMARY=${PRIMARY}
      - REPLICAS=${REPLICAS}
      - FULL_SYNC=true
      - RUN_GRAVITY=false
      - CRON=0 * * * *
    restart: unless-stopped
